.Rproj.user
.Rhistory
.RData
.Ruserdata
Lattice.gv
Lattice.gv.pdf
inst/doc
Meta
.DS_Store
foo.txt
tests/testthat/Rplots\.pdf
CRAN-RELEASE
doc
/doc/
/Meta/
check
docs
CRAN-SUBMISSION

# qrtdown
_quarto.yml
/.quarto/
**/*.quarto_ipynb
