.DS_Store
COBRE_Data_Dictionary.xlsx
HID_PhaseII_Assessments_DataDictionary_v2
HID_PhaseII_Assessments_DataDictionary_v2.zip
MaND_v1.0.xlsx
Pezzoli_et_al_files.zip
clean_cobre.csv
cobre_codes.csv
cobre_codes.xlsx
cobre_codes_values.csv
deprecated_schizconnect_metaData_8923.csv
deprecated_schizconnect_metaData_8980.csv
deprecated_schizconnect_metaData_8981.csv
deprecated_schizconnect_metaData_8982.csv
pima.csv
pone.0188000.s002.xlsx
schizconnect_COBRE_assessmentData_8923.csv
schizconnect_COBRE_assessmentData_8980.csv
schizconnect_MCICShare_assessmentData_8923.csv
schizconnect_fBIRNPhaseII__0010_assessmentData_8923.csv
schizconnect_fBIRNPhaseII__0010_assessmentData_8982.csv
